tmp
bin
build
*.a
*.dll
*.dylib
*.exe
*.o
*.obj
*.so

.DS_Store
build*.a
*.dll
*.dylib
*.exe
*.o
*.obj
*.so
build
TiCustomizeTabGroup.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
